#
# Taskbar Options
#
HideStartMenu            True
ShowHome                 True
ShowAirBeam              False
ShowWwanSignalStrength   False
ShowSignalStrength       True
ShowBatteryLevel         True
ShowVolume               False
ShowTime                 True
BatteryPercentFormat     False
ShowConnectivity         False
ShowStandardIcons        False

#
# Title Options
#
AlternateTitle           
DisplayMacAddress        False
DisplayIpAddress         False
TitleFontSize            11
TitleBold                True
AlwaysUseAppCenterTitle  False

#
# Time Options
#
24HourTimeFormat         False
RegionalTimeFormat       False
RegionalTimeOptions      2

#
# Signal Options
#
AdapterName              
FusionMode               0
MobileCompanionMode      2

#
# Admin Options
#
AdminLoginDisabled       False

#
# Browse Options
#
BrowseFolder             "\Windows\Start Menu"
BrowseFolder             \Windows\Startup
BrowseFolder             \Windows\Programs
BrowseFolder             "\Program Files"
BrowseExtension          exe
BrowseExtension          vb
BrowseAllShortcuts       True

#
# Close Options
#
AlwaysCloseExe           always1.exe
AlwaysCloseExe           always2.exe
NeverCloseExe            never1.exe
NeverCloseExe            never2.exe

#
# Key Options
#
VolumeKeysAllowed        True
DisablePhoneKey          False
HideSip                  True

#
# Security Options
#
DisableMemoryCardInsert  False
DisableIR                False
DisableBluetooth         False
DisableActiveSync        False

#
# Phone Options
#
VoiceMailPhoneNumber     
AddWwanPhoneMenu         False
ShowPhoneIcons           False
BlockIncomingCalls       False

#
# Icon Options
#
AirBeamLock              False
IconsDisabledCount       0

#
# Approved Programs
#
Program TelnetCE Execute           "\Application\Program Files\Wavelink\TelnetCE\TelnetCE.exe"
Program TelnetCE Arguments         
Program TelnetCE ExeName           TelnetCE.exe
Program TelnetCE IconFile          "\Application\Program Files\Wavelink\TelnetCE\TelnetCE.exe"
Program TelnetCE ReadOnly          False
Program TelnetCE AlwaysLaunch      False
Program TelnetCE HideFromUser      False
Program TelnetCE HideMenuBar       False
Program TelnetCE HideDoneButton    False
Program TelnetCE HideStartMenu     True
Program TelnetCE HideSip           False
Program TelnetCE ShowStandardIcons False
Program TelnetCE AutoStart         False
Program TelnetCE AutoStop          False
Program TelnetCE AddToToolsMenu    False
Program TelnetCE VolumeKeysAllowed True
Program TelnetCE StartupDelay      0
Program TelnetCE RelaunchInterval  0
Program TelnetCE ApprovedWindow    *|*
Program TelnetCE RequiredIpAddress 
Program TelnetCE RequiredSSID      

Program "Excel Mobile" Execute           pxl.exe
Program "Excel Mobile" Arguments         
Program "Excel Mobile" ExeName           pxl.exe
Program "Excel Mobile" IconFile          pxl.exe
Program "Excel Mobile" ReadOnly          False
Program "Excel Mobile" AlwaysLaunch      False
Program "Excel Mobile" HideFromUser      False
Program "Excel Mobile" HideMenuBar       False
Program "Excel Mobile" HideDoneButton    False
Program "Excel Mobile" HideStartMenu     True
Program "Excel Mobile" HideSip           False
Program "Excel Mobile" ShowStandardIcons False
Program "Excel Mobile" AutoStart         False
Program "Excel Mobile" AutoStop          False
Program "Excel Mobile" AddToToolsMenu    False
Program "Excel Mobile" VolumeKeysAllowed True
Program "Excel Mobile" StartupDelay      0
Program "Excel Mobile" RelaunchInterval  0
Program "Excel Mobile" ApprovedWindow    *|*
Program "Excel Mobile" RequiredIpAddress 
Program "Excel Mobile" RequiredSSID      

Program Calculator Execute           MobileCalculator.exe
Program Calculator Arguments         
Program Calculator ExeName           MobileCalculator.exe
Program Calculator IconFile          MobileCalculator.exe
Program Calculator ReadOnly          False
Program Calculator AlwaysLaunch      False
Program Calculator HideFromUser      False
Program Calculator HideMenuBar       False
Program Calculator HideDoneButton    False
Program Calculator HideStartMenu     True
Program Calculator HideSip           False
Program Calculator ShowStandardIcons False
Program Calculator AutoStart         False
Program Calculator AutoStop          False
Program Calculator AddToToolsMenu    False
Program Calculator VolumeKeysAllowed True
Program Calculator StartupDelay      0
Program Calculator RelaunchInterval  0
Program Calculator ApprovedWindow    *|*
Program Calculator RequiredIpAddress 
Program Calculator RequiredSSID      

Program Connections Execute           ctlpnl.exe
Program Connections Arguments         cplmain.cpl,19
Program Connections ExeName           ctlpnl.exe
Program Connections IconFile          ShellRes.192.dll,-13961
Program Connections ReadOnly          False
Program Connections AlwaysLaunch      False
Program Connections HideFromUser      False
Program Connections HideMenuBar       False
Program Connections HideDoneButton    False
Program Connections HideStartMenu     True
Program Connections HideSip           False
Program Connections ShowStandardIcons False
Program Connections AutoStart         False
Program Connections AutoStop          False
Program Connections AddToToolsMenu    False
Program Connections VolumeKeysAllowed True
Program Connections StartupDelay      0
Program Connections RelaunchInterval  0
Program Connections ApprovedWindow    *|CPL_NCCon
Program Connections RequiredIpAddress 
Program Connections RequiredSSID      

